button.btn-feedback(type='button', data-toggle='modal', data-target='#feedbackModal', style="display:block;margin:auto;")
  | We're trying to make this as useful as possible. 
  strong Click here 
  | to send us feedback!

#feedbackModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='feedbackModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
        h4#feedbackModalLabel.modal-title  Tell us how we can improve!
      .modal-body
        form.feedback-form(action="/feedback", method="post", role="form")
          textarea.form-control#focus(type='text', autofocus="true", name="msg")
          input.btn-submit(type='submit', value="Smile and Submit")
script.
  $('#feedbackModal').on('shown.bs.modal', function() {
    $(this).find('#focus').focus();
  });
  $(".feedback-form").submit(function(e) {
    e.preventDefault(); // Prevents the page from refreshing
    var $this = $(this); // `this` refers to the current form element
    $('#feedbackModal').modal('hide')
    $.post(
      $this.attr("action"), // Gets the URL to sent the post to
      $this.serialize(), // Serializes form data in standard format
      function(data) { /** code to handle response **/ },
      "json" // The format the response should be in
      );
    });