.container
  .row
    .col-3
      img#logo(src="/img/two-keys.png")
    .col-9
      form.shadow#searchForm(action="/s", method="get", role="form", onSubmit="ga('send', 'event', 'button', 'click', 'search')")
        .inputs
          input#searchBox(name="q", type="text", autofocus="true", value="#{userQuery? userQuery:''}", placeholder="search syntax")
          button#searchButton(type="submit")
  .row
    .col-12
      p.tip(style="margin-top:15px;") Hey folks. For now, python only. Usefull?