.container
  .row
    .col-3
      img#logo(src="/img/two-keys.png")
    .col-9
      form.shadow#searchForm(action="/s", method="get", role="form")
        .inputs
          input#searchBox(name="q", type="text", autofocus="true")
          button#searchButton(type="submit")