.container
  .row
    .col-12
      each result, index in snippets
        div(onclick="location.href='#{result.clickurl}'").result
          p.dispurl= result.dispurl
          pre.snippet= result.snippet
          
          //p= result