#share-buttons
  // Facebook
  a(href='http://www.facebook.com/sharer.php?u=http://alts.io/', target='_blank')
    img(src='/img/somacro/facebook.png', alt='Facebook')
  // Twitter
  a(href='http://twitter.com/share?url=http://alts.io/&text=Nice! A search engine for python syntax&hashtags=alts', target='_blank')
    img(src='/img/somacro/twitter.png', alt='Twitter')
  // Google+
  a(href='https://plus.google.com/share?url=http://alts.io/', target='_blank')
    img(src='/img/somacro/google.png', alt='Google')
  // Reddit
  a(href='http://reddit.com/submit?url=http://alts.io/&title=A search engine for python syntax', target='_blank')
    img(src='/img/somacro/reddit.png', alt='Reddit')
  // Email
  a(href='mailto:?Subject=A search engine for python&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://alts.io/')
    img(src='/img/somacro/email.png', alt='Email')
